<section class="nes-container with-table">
  <h2 class="title">Crate Note</h2>
  <form class="item" method="post" action="/notes">
    <label for="title">Title</label>
    <input class="nes-input" type="text" name="title" />
    <label for="body">Body</label>
    <textarea
      id="body"
      name="body"
      class="nes-textarea"
      cols="30"
      rows="10"
    ></textarea>
    <button type="submit" class="nes-btn is-primary">Save</button>
    <button type="submit" class="nes-btn">Reset</button>
  </form>
</section>
